body{
    background-color: #E8F1F2;
    font-family: Roboto;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 20px;
}
h4{
    font-size: 19px;
}
p{
    font-size: 16px;
}


/* Scroll Bar */
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E8F1F2;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #001A23;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-track:hover {
    box-shadow: inset 0 0 5px grey;
}
/* Accent colors */

.accent{
    color: #F6AA1C;
}

/* Navigation section */

#navbar-section{
    margin-top: 35px;
}

#navbar-section nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

#navbar-section nav ul li{
    padding-top: 10px;
    font-size: 17px;
}
#navbar-section nav ul li:first-of-type{
    font-size: 30px;
    padding: 0;
}

#navbar-section nav ul li a{
    text-decoration: none;
    color: #001A23;
}

.join-beta-link{
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 24px;
    background-color: #001A23;
    color: #E8F1F2;
    
    
}

.join-beta-link:hover{
    text-decoration: none;
    color: #E8F1F2;
}

/* Header section design */
#header-section {
    margin-top: 50px;
}

.header-text{
    margin-top: 150px;
}

.header-text p{
    margin: 13px 0;
    
}

/* Header form */
.join-beta-form{

    border: 1px solid #F6AA1C;
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #F6AA1C;
    box-shadow: 5px 10px 6px #001A23;
}

#join-beta h2{
    text-align: center;
    color: #001A23;
}

#join-beta label{
    display: block;
    font-size: 16px;
    color: #001A23;
    margin-bottom: 22px;
}

.role-group{
    display: flex;
    justify-content:space-evenly;
    text-align: center;

}

.role-group p{
    color: #E8F1F2;
}

.form-radio-image{
    width: 40px;
    margin-bottom: 5px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border: 5px solid #001A23;
  border-radius: 100%;
}

/* Inputs */
#join-beta input[type="email"]{
    width: 100%;
    background-color: #E8F1F2;
    border-color: #E8F1F2;
    border-radius: 24px;
    outline: none;
    padding: 10px 10px;
    border: none;
}

#join-beta input[type="number"]{
     background-color: #E8F1F2;
     border-color: #E8F1F2;
     border-radius: 24px;
     outline: none;
     padding: 10px 5px;
     border: none;
}

#code-beta{
    width: 20%;
    text-align: center;
}

#phone-beta{
    width: 80%;
}

.submit-beta-form{
   display: flex;
   justify-content: center;
}
.submit-beta-form input{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px;
    border-radius: 24px;
    border: none;
    background-color: #001A23;
    color: #E8F1F2;
    box-shadow: 0 5px 6px #F6AA1C;
}

.form-group{
    margin-top: 41px;
}

#how-it-works{
    margin-top: 150px;
    background-color: #F6AA1C;
}

.how-it-works-header{
    text-align: center;
    color: #E8F1F2;
    margin-top: 10px;
}

.how-it-works-steps{
    text-align: center;
    margin-top: 100px;
}

.how-it-works-steps img {
    width: 150px;
}

.how-it-works-steps h3{
    color: #001A23;
    font-weight: bold;
}
.how-it-works-steps p{
    color: #E8F1F2;
    font-size: 17px;
}

.processed-coffee{
    width: 100px;
    float: right;
}

/* Benefits */
#benefits{
    margin-top: 150px;
}

#benefits h1{
    text-align: center;
    color: #001A23;
}

.benefits-row{
    margin-top: 40px;
    
}
.processor-benefits{
    padding-right: 40px;
}

.buyer-benefits{
    border-left: 5px solid #F6AA1C;
    padding-left: 40px;
}

.buyer-benefits h2,.processor-benefits h2{
    text-align: center;
    color: #001A23;
}

.reason{
    margin-top: 40px;
}

.reason img{
    width: 40px;
    margin-bottom: 13px;
}

.reason h3{
    margin-bottom: 13px;
}

.reason p{
    color: #001A23;
}

.processed-biscuit{
    margin-top: 100px;
    width: 80px;
}



/* Footer section */

#footer-section{
    margin-bottom: 35px;
}

#footer-section nav ul{
    list-style-type: none;
}

#footer-section nav ul li {
    padding-top: 10px;
    font-size: 17px;
}

#navbar-section nav ul li:first-of-type {
    font-size: 30px;
    padding: 0;
}

#footer-section nav ul li a {
    text-decoration: none;
    color: #001A23;
}